# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=movex
POSTGRES_USER=movex
POSTGRES_PASSWORD=movex

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB_NAME=0

# JWT
JWT_SECRET=
JWT_ALGORITHM=HS256

# Auth
VERIFICATION_CODE_LENGTH=6
VERIFICATION_CODE_TTL_SECONDS=300
MAX_VERIFICATION_ATTEMPTS=5

ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=30


LOG_LEVEL=INFO

